* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-size: 42px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 200px;
}
button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-width: 450px;
}
.choices{
    display: flex;
    gap: 30px;
}
h3 {
    font-size: 24px;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;

    border: solid 3px black;
    width: 100%;
    padding: 30px 20px;
}